<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>


<<<<<<< HEAD
    <div class="form-group">
        <label for="message_name" class="control-label col-md-1">名前:</label>
        <div class="col-md-10">
            <%= f.text_field :name, class: "form-control" %>
        </div>
    </div>
        
    <div class="form-group">    
        <label for="message_body" class="control-label col-md-1">内容:</label>
        <div class="col-md-10">
            <%= f.text_area :body, class: "form-control" %>
        </div>
    </div>
    
　　<div class="form-group">
    <div class="col-md-offset-1 col-md-10">
      <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  
<% end %>
=======
<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  名前:
  <%= f.text_field :name %>
>>>>>>> challenge1

  内容:
  <%= f.text_field :body %>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>